.main_div {
    display: flex;
    flex-flow: wrap;
}

.samples_container {
    width: 100%;
    min-height: 200px;
    border: 2px solid black;
}

.bloks {
    margin-top: 10px;
}

.how_much_samples {
    padding: 15px;
}

.sample {
    margin-top: 15px;
    margin-left: 15px;
}

.sample_field {
    width: 75%;
}

.calculate {
    margin: 10px;
}

.Task {
    width: 100%;
    min-height: 200px;
    border: 2px solid black;
}

.sort {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
}

.text {
    margin: 10px;
}

.Task {
    background-color: gray;
}

.sample_task1 {
    margin: 5px;
    border: 2px solid black;
    background: white;
}

table {
    margin-left: 10px;
    margin-top: 30px;
}

td {
    border: 2px black solid;
    width: 50px;
    height: 50px;
    text-align: center;
}

.RangeDiv {
    margin-top: 20px;
}

.sort {
    margin-top: 20px;
}

.text_sample_name {
    font-size: 26px;
}

.chart_task2 {
    border: 2px solid black;
}

.chart {
    min-height: 50px;
    min-width: 50px;
    margin: 5px;
    border: 2px black;
    background: white;
}

.Chart {
    padding: 15px;
}

.Task3 {
    min-height: 50px;
    min-width: 50px;
    margin: 5px;
    border: 2px black;
    background: white;
}

.task3_data {
    font-size: 20px;
    margin: 5px;
}