.main_div {
    display: flex;
    flex-flow: wrap;
}

.task1_container, .task2_container, .task3_container {
    width: 100%;
    min-height: 200px;
    border: 2px solid black;
    margin: 10px;
}

.bloks {
    margin-top: 10px;
}

.matrix_size, .matrix_size_2, .matrix_size_3, .significance_block {
    margin: 15px;
}

.calculate {
    margin: 10px;
}


#significance {
    margin: 10px;
    width: 75px;
}

.span1_1, .span1_2, .span1_4, .span1_3, .span2_1 {
    font-size: 26px;
    margin: 15px;
}

.table1_1, .MainTable, .table1_2, .MainTable2 {
    margin: 15px;
}

.task1_3, .task2_1 {
    margin-top: 30px;
}

.task1_2_1 { 
    margin-top: 15px;
    margin-bottom: 15px;
}

.Iteration_table {
    width: 100px;
}